
.container{
    padding: 6em;
    margin: left;
}

.titulo{
    font-family: 'Sacramento', cursive;
    padding-top: .1em;
    font-size: 65px;
    padding-bottom: 0px;

}

.footer{
    padding: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #DEDEDE;
}

.contacto{
    color: black;
}
.fa {
    color: black;
    padding: 10px;
    width: 20px;
    text-align: center;
    -webkit-text-decoration: black;
            text-decoration: black;
  }
  
  .fa:hover {
      opacity: 0.5;
  }
  
  
  .style-1 {
    color: black;
    padding: 10px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
}
.style-1:hover, 
.style:focus {
    text-decoration: none;
    color: gray;
}
